.container {
  background-color: var(--colours--sustainability-light);
  padding: 2rem 0;
}

.wrapper {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0px auto;
  max-width: 1320px;
  flex-wrap: wrap;
  min-height: 100vh;
  @media (max-width: 568px) {
    flex-direction: column;
  }
}

.loadingWrapper {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px auto;
  max-width: 1320px;
  flex-wrap: wrap;
  min-height: 100vh;
  @media (max-width: 568px) {
    flex-direction: column;
  }
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 20px;
  gap: 10px;
  @media (max-width: 568px) {
    margin-right: 10px;
  }
}

.dropdownContainer {
  padding: 0px;
  flex-grow: 1;
}

.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  width: 300px;
  border-radius: 5px;
  padding: 10px;
  border-right: 10px solid transparent;
  font-family: var(--fonts--paragraph-font);
  align-self: flex-start;
  margin-left: 20px;

  @media (max-width: 568px) {
    margin-left: 20px;
  }
}

.positionContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  max-width: 720px;

  @media (max-width: 568px) {
    flex-direction: column;
    gap: 10px;
  }
}

.positionInnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 568px) {
    justify-content: space-between;
    width: 100%;
  }
}

.positionText {
  font-family: Lexend, sans-serif;
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  line-height: 100%;
  font-weight: 600;
  margin-right: 20px;

  @media (max-width: 568px) {
    font-size: 22px;
  }
}

.positionBox {
  @extend .positionText;
  border-radius: var(--cornerRadious, 8px);
  background: var(--primaryCTA, #ffbf00);
  width: fit-content;
  min-width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 16px;
  font-size: 32px;
  margin-right: 20px;

  @media (max-width: 568px) {
    margin-right: 30px;
  }
}

.HubReptilesHero_hub-hero-image__PnbXG {
  display: none !important;
}

.messageContainer {
  display: flex;
  position: relative;
  width: 720px;
  height: 261px;
  padding: 76px 79px;
  margin: 0 5% 0 auto;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  gap: 30px;
  border-radius: var(--cornerRadious, 8px);
  background: var(--sustainabilitySuperLight, #c3f5ed);

  @media (max-width: 568px) {
    width: 90%;
    margin: 0 auto;
  }
}

.message {
  color: var(--textDark, #222);
  font-family: Lexend;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;

  @media (max-width: 568px) {
    font-size: 20px;
  }
}

.schoolCodeButton {
  display: flex;
  padding: 8px 8px 8px 12px;
  align-items: flex-start;
  gap: 6px;
  border-radius: 8px;
  background: var(--primaryCTA, #ffbf00);
  color: #152422;
  font-family: Lexend;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  svg {
    width: 24px;
    height: 24px;
  }
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;

  button {
    padding: 4px 12px;
    border-radius: var(--cornerRadious, 8px);
  }
}

.active {
  background: var(--primaryCTA, #ffbf00);
  color: white;
}
